In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path 
data_path = Path.home() / "Documents" / "projects" / "tennis prediction" / "TML-Database-master" / "2005.csv"
ofive_df = pd.read_csv(data_path)
ofive_df.head(200)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2005-7308,Adelaide,Hard,32,A,20050103,1.0,H432,1.0,NaN,...,2,5,3,90,54,29,17,11,9,14
1,2005-7308,Adelaide,Hard,32,A,20050103,2.0,C478,NaN,NaN,...,9,2,3,101,64,41,19,16,2,6
2,2005-7308,Adelaide,Hard,32,A,20050103,3.0,B747,NaN,NaN,...,5,3,4,49,40,20,3,9,4,9
3,2005-7308,Adelaide,Hard,32,A,20050103,4.0,D362,5.0,NaN,...,10,0,6,81,51,29,11,12,9,14
4,2005-7308,Adelaide,Hard,32,A,20050103,5.0,C514,4.0,NaN,...,0,3,3,59,40,19,7,7,9,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2005-580,Australian Open,Hard,128,G,20050117,41.0,Y061,15.0,NaN,...,1,4,4,90,51,27,24,14,2,7
196,2005-580,Australian Open,Hard,128,G,20050117,42.0,N409,NaN,NaN,...,3,2,6,66,35,18,9,12,2,10
197,2005-580,Australian Open,Hard,128,G,20050117,43.0,R483,NaN,Q,...,8,16,3,164,91,68,39,23,16,19
198,2005-580,Australian Open,Hard,128,G,20050117,44.0,P280,17.0,NaN,...,3,6,1,83,42,24,19,13,5,11
199,2005-580,Australian Open,Hard,128,G,20050117,45.0,C514,25.0,NaN,...,2,15,7,120,57,43,36,17,1,2